<div class="header_padding pb-4">
  <div class="col-10 mt-5 mx-auto">
    <div class="view_title ml-5 mb-5 px-5">
      <h5><b>MY本棚　</b></h5>
      <p><b>全<%= @bookmark_amount.count %>件</b></p>
    </div>
    <% if @bookmarks.present? %>
      <div class="view_div">
        <div class="col-lg-11 view_each_div">
          <% @bookmarks.each do |bookmark| %>
            <div class="mx-2">
              <div>
                <%= link_to comic_path(bookmark.comic.id), class:"img_link" do %>
                  <%= image_tag bookmark.comic.large_image_url, class:"img_comic" %>
                <% end %>
              </div>
              <div class="comic_title_div py-4 mb-3">
                <%= link_to comic_path(bookmark.comic.id) do %>
                  <p class="link_text text-dark mb-2">
                    <%= bookmark.comic.title.truncate(17) %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="border" style="display:table; width:100%; height:250px; border-radius:5px;">
        <p class="text-center small mb-0" style="display:table-cell; vertical-align: middle; text-align:center; color:silver;">
          <% if user_signed_in? %>
            このサイトで読める漫画情報は登録されていません。<br>
            追加するには <b>各一覧画面</b> または <b>詳細画面</b> にある　
            <%= link_to "サイト情報追加", "#", class:"btn btn-sm btn-outline-secondary my-3 px-3 text-nowrap" %>　を押してください。
          <% else %>
            このサイトで読める漫画情報は登録されていません。<br>
            追加するには <%= link_to "ログイン", new_user_session_path %> または <%= link_to "新規登録", new_user_registration_path %> する必要があります。
          <% end %>
        </p>
      </div>
    <% end %>
  </div>

　<div class="media_pc">
    <div class="paginate_style">
      <%= paginate @bookmarks, window: 4 %>
    </div>
  </div>
  <div class="media_tb">
    <div class="paginate_style">
      <%= paginate @bookmarks, window: 2 %>
    </div>
  </div>
  <div class="media_sp">
    <div class="paginate_style">
      <%= paginate @bookmarks, window: 1 %>
    </div>
  </div>
  
  <span id="back" style="width:100%;">
    <a href=""  style="text-decoration:none;">
      <div class="back_action border mt-5 mx-auto">
        <p class="mb-0 text-dark">
          TOPへ戻る<i class="bi bi-arrow-up"></i>
        </p>
      </div>
    </a>
  </span>
</div>

<script>
  $(function(){
    // ウィンドウの高さとmain要素の高さを取得
    var windowHeight = $(window).height();
    var mainHeight = $('main').height();

    // main要素の高さがウィンドウの高さより大きい場合
    if(mainHeight > windowHeight) {
        // 特定の要素を表示
        $('#back').show();
    } else {
        // そうでない場合、要素を非表示
        $('#back').hide();
    }
  })
</script>