<div style="background-color:#EEE; height:100px;"></div>
  <div style="background-color:#EEE; padding:30px 0; min-height: 71vh;">
        
        <div class="col-lg-9 col-md-9 mx-auto pt-5 px-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD; padding-bottom:80px;">
            <%= link_to admin_top_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
              <i class="bi bi-arrow-left"></i>
            <% end %>
      
            <div class="d-flex flex-wrap mb-4" style="justify-content: center; align-items: center;">
                <h4 class="mx-2 mb-0"><b><%= @user.nick_name %></b></h4>
                <p class="mx-2 mb-0 text-nowrap">のユーザ情報</p>
            </div>
            
            <div class="row d-flex" style="justify-content: center;">
              
                  <div class="col-lg-5">
                      <div class="user_icon p-3 d-flex" style="justify-content: center; align-items: center;">
                          <% if @user.profile_image.attached? %>
                            <%= image_tag @user.profile_image, size: "150x150" %>
                          <% else %>
                            <%= image_tag 'no_image', size: "150x150" %>
                          <% end %>
                      </div>
                      <div class="d-flex" style="justify-content: center;">
                      <p class="mx-3 px-2 py-3 user_email small text-center" style="width:70%; margin-top:10px; border-top:0.5px solid silver; border-bottom:0.5px solid silver; overflow-wrap: break-word;">
                        <i class="bi bi-envelope mx-2"></i><%= @user.email %>
                      </p>
                      </div>
                  </div>
                  
                  <div class="col-lg-6">
                      <table class="table table-responsive-sm table-borderless mt-3">
                        <tr>
                          <td style="width:40%;">順位</td>
                          <td class="text-nowrap" style="width:40%;"><%= @my_rank %>位</td>
                        </tr>
                        <tr>
                          <td>更新</td>
                          <td class="text-nowrap"><%= @user.update_count %>回</td>
                          <td class="text-center"><i class="bi bi-caret-down-square"></i></td>
                        </tr>
                        <tr>
                          <td>評価</td>
                          <td class="text-nowrap"><%= @user.read_judgements.where(can_read: true).count %>件</td>
                          <td class="text-center"><i class="bi bi-caret-down-square"></i></td>
                        </tr>
                        <tr>
                          <td>更新残数</td>
                          <td class="text-nowrap"><%= @user.remaining_total_update_limit %>回</td>
                        </tr>
                        <tr>
                          <td>ブックマーク</td>
                          <td class="text-nowrap"><%= @user.bookmarks.count %>件</td>
                          <td class="text-center"><i class="bi bi-caret-down-square"></i></td>
                        </tr>
                      </table>
                  </div>
                  <div class="mt-5">
                    <%= link_to "ユーザの削除", admin_top_path, class:"btn btn-danger px-5" %>
                  </div>
            </div>
        </div>
        
  </div>
</div>