<div class="admin_body_top_margin"></div>
  <div class="admin_body_backstyle">
    <div class="col-lg-10 col-md-10 admin_body_infomation mb-4 p-5">
      <%= link_to admin_top_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
        <i class="bi bi-arrow-left"></i>
      <% end %>
      <div class="admin_user_info_flex">
        <h2 class="font_1 mx-2 mb-0"><b><%= @user.nick_name %></b></h2>
        <h5 class="text-nowrap mx-2 mb-0">のユーザ情報</h5>
      </div>
      <div class="row admin_body_row p-4">
        <div class="col-lg-4 admin_body_col mx-3">
          <div class="user_icon p-3">
            <% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image, size: "150x150", class:"my-3" %>
            <% else %>
              <%= image_tag asset_path("no_image.png"), size: "150x150", class:"my-3" %>
            <% end %>
            <p class="user_email small text-center mx-3 px-2 py-3">
              <i class="bi bi-envelope mx-2"></i>
              <%= @user.email %>
            </p>
          </div>
        </div>
        <div class="col-lg-7 table-responsive-lg px-0">
          <table class="table table-borderless">
            <tr>
              <td style="width:50%;">順位</td>
              <td class="text-nowrap" style="width:50%;">
                <%= @my_rank %>位
              </td>
            </tr>
            <tr>
              <td>更新</td>
              <td class="text-nowrap">
                <%= @user.update_count %>回
              </td>
            </tr>
            <tr>
              <td class="text-center" colspan="3">
                <div class= "sample">
                    <input type="button" class="btn btn-sm btn-outline-dark mb-3 px-3 text-nowrap w-100" value="更新詳細">
                </div>
                <div class= "sampleA border p-2">
                  <div class="sampleA_subordinate">
                    <% if @comics.present? %>
                      <div class="p-3" style="overflow-y: scroll;">
                        <table class="table">
                          <tr class="infomation_table_tr">
                            <th class="infomation_table_th" style="width: 20%;">ID</th>
                            <th class="infomation_table_th">Title</th>
                            <th class="infomation_table_th">作成日</th>
                          </tr>
                            <% @comics.each_with_index do |comic, index| %>
                              <tr>
                                <td class="infomation_table_td text-nowrap">
                                    <%= index + 1 %>
                                  </p>
                                </td>
                                <td class="infomation_table_td">
                                  <%= comic.title %>
                                </td>
                                <td class="infomation_table_td">
                                  <%= comic.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
                                </td>
                              </tr>
                            <% end %>
                        </table>
                      </div>
                    <% else %>
                      <div class="infomation_no_data">
                        <p class="infomation_no_data_text">
                        <%= @user.nick_name %> が更新した漫画はありません。<br>
                        </p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>評価</td>
              <td class="text-nowrap">
                <%= @user.read_judgements.where(can_read: true).count %>件
              </td>
            </tr>
            <tr>
              <td class="text-center" colspan="3">
                <div class= "sample">
                    <input type="button" class="btn btn-sm btn-outline-dark mb-3 px-3 text-nowrap w-100" value="評価詳細">
                </div>
                <div class= "sampleA border p-2">
                  <div class="sampleA_subordinate">
                    <% if @read_judgements.present? %>
                      <div class="p-3" style="overflow-y: scroll;">
                        <table class="table">
                          <tr class="infomation_table_tr">
                            <th class=infomation_table_th"" style="width:20%;">ID</th>
                            <th class="infomation_table_th">Comic ID</th>
                            <th class="infomation_table_th">Title</th>
                            <th class="infomation_table_th" style="width:20%;">可読情報</th>
                          </tr>
                          <% @read_judgements.each_with_index do |read_judgement, index| %>
                            <tr>
                              <td class="infomation_table_td text-nowrap">
                                <p class="font_2 small mb-0">
                                  <%= index + 1 %>
                                </p>
                              </td>
                              <td class="infomation_table_td">
                                <%= read_judgement.comic.id %>
                              </td>
                              <td class="infomation_table_td">
                                <%= read_judgement.comic.title %>
                              </td>
                              <td class="infomation_table_td text-nowrap" style="<%= read_judgement.can_read == true ? 'color:#66CC00;' : 'color:#00264D;' %>">
                                <%= read_judgement.can_read ? '読めた' : '読めなかった' %>
                              </td>
                            </tr>
                          <% end %>
                        </table>
                      </div>
                    <% else %>
                      <div class="infomation_no_data">
                        <p class="infomation_no_data_text">
                        <%= @user.nick_name %> が評価した漫画はありません。<br>
                        </p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>更新残数</td>
              <td class="text-nowrap">
                <%= @user.remaining_total_update_limit %>回
              </td>
            </tr>
            <tr>
              <td>ブックマーク</td>
              <td class="text-nowrap">
                <%= @user.bookmarks.count %>件
              </td>
            </tr>
            <tr>
              <td class="text-center" colspan="3">
                <div class= "sample">
                    <input type="button" class="btn btn-sm btn-outline-dark mb-3 px-3 text-nowrap w-100" value="ブックマーク詳細">
                </div>
                <div class= "sampleA border p-2">
                  <div class="sampleA_subordinate">
                    <% if @display_bookmarks.present? %>
                      <div class="p-3" style="overflow-y: scroll;">
                        <table class="table">
                          <tr class="infomation_table_tr">
                            <th style="text-align: center; vertical-align: middle; width:20%; ">ID</th>
                            <th class="text-nowrap" style="text-align: center; vertical-align: middle;">Comic ID</th>
                            <th style="text-align: center; vertical-align: middle;">Title</th>
                            <th class="text-nowrap" style="text-align: center; vertical-align: middle;">著者</th>
                            <th class="text-nowrap" style="text-align: center; vertical-align: middle;">総人数</th>
                          </tr>
                          <% @display_bookmarks.each_with_index do |bookmark, index| %>
                            <tr>
                              <td class="text-nowrap" style="vertical-align: middle;">
                                <p class="font_2 small mb-0">
                                  <%= index + 1 %>
                                </p>
                              </td>
                              <td style="vertical-align: middle;">
                                <%= bookmark["id"] %>
                              </td>
                              <td style="vertical-align: middle;">
                                <%= bookmark["title"] %>
                              </td>
                              <td style="vertical-align: middle;">
                                <%= bookmark["author"] %>
                              </td>
                              <td style="vertical-align: middle;">
                                <%= bookmark["count"] %>人
                              </td>
                            </tr>
                          <% end %>
                        </table>
                      </div>
                    <% else %>
                      <div class="" style="display:table; width:100%; height:auto; border-radius:5px;">
                        <p class="text-center mb-0" style="display:table-cell; vertical-align: middle; text-align:center; color:silver;">
                        <%= @user.nick_name %> がブックマークした漫画はありません。<br>
                        </p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>ステータス</td>
              <td>
                <div class="d-flex flex-wrap align-items-center">
                  <% if @user.is_deleted == true %>
                    <p class="mr-3 mb-0" style="color:#00264D;">退会</p>
                  <% else %>
                    <p class="mr-3 mb-0" style="color:#66CC00;">有効</p>
                  <% end %>
                  <div class="sample ml-auto" style="float:right;">
                    <input type="button" class="btn btn-dark btn-sm rounded-pill text-nowrap px-3" style="width:auto;" value="編集">
                  </div>
                  <div class="sampleA mt-2 p-2 border" style="display:none; width:100%;">
                    <div class="mx-auto p-3" style="height:auto; width:100%;">
                      <%= form_with model: [:admin, @user], url: admin_update_path(@user.id), method: :patch do |f| %>
                        <div class="d-flex justify-content-center mb-3">
                          <%= f.radio_button :is_deleted, :false, class:"ml-2", checked: true %>
                          <%= f.label :is_deleted, "有効", class:"text-nowrap mr-3 mb-0", for:"user_is_deleted_false" %>
                          <%= f.radio_button :is_deleted, :true, class:"ml-2" %>
                          <%= f.label :is_deleted, "退会", class:"text-nowrap mr-2 mb-0", for:"user_is_deleted_true" %>
                        </div>
                        <div class="d-flex justify-content-center">
                          <%= f.submit "更新", class:"btn btn-sm rounded-pill text-nowrap",style:"width:100px; background-color:#66CC00; color:white;" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $(".btn").click(function(e){
      $(e.target).parent().next('.sampleA').slideToggle();
    });
  });
</script>

<!--TOPへ戻るを設置-->