<div style="padding-bottom:105px; background-color:#EEE;"></div>

<% if flash[:notice].present? %>
    <div style="background-color:#EEE;">
        <div class="alert alert-success alert-dismissible mx-auto mb-0" style="width:100%;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
        </div>
    </div>
<% end %>
  
<div class="d-flex justify-content-left" style="background-color:#EEE;">
  <div class="col-lg-10 col-md-10 col-sm-10 p-5 border" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; box-shadow:10px 5px 7px #BBB; background-color:#FFF;">
      
      
      <h5 class="font_1 mb-5"><b>User 一覧</b></h5>
      <table class="table table-responsive-sm table-responsive-md admin_table">
        <% @users.each do |user| %>
          <tr>
              <td class="user_icon" style="width:104px;">
                <%= link_to admin_information_path(user.id) do %>
                  <% if user.profile_image.attached? %>
                    <%= image_tag user.profile_image, size: "80x80" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "80x80" %>
                  <% end %>
                <% end %>
              </td>
              <td class="font_1" style="width:200px; vertical-align:middle;">
                  <%= user.nick_name %>
              </td>
              <td style="vertical-align:middle">
                  <%= user.email %>
              </td>
          </tr>
        <% end %>
      </table>
      
      
  </div>
</div>