<div class="col-3" style="background-color:#00264D; height:100px;"></div>

<div class="d-flex" style="padding:0px; min-height: 74vh;">
      
    <div class="col-3 p-0">
      <%= render'layouts/sidebar' %>
    </div>
    
    <div class="col-8 p-5" style="border-right:0.5px solid silver; border-top-right-radius: 20px; border-bottom-right-radius: 20px; box-shadow:10px 5px 7px #BBB;">
        <h5 class="mb-5"><b>User 一覧</b></h5>
        <% @users.each do |user| %>
          <table class="table admin_table">
            <tr>
                <td class="user_icon" style="width:104px;">
                  <%= link_to admin_information_path(user.id) do %>
                    <% if user.profile_image.attached? %>
                      <%= image_tag user.profile_image, size: "80x80" %>
                    <% else %>
                      <%= image_tag 'no_image', size: "80x80" %>
                    <% end %>
                  <% end %>
                </td>
                <td style="width:200px; vertical-align:middle;">
                    <%= user.nick_name %>
                </td>
                <td style="vertical-align:middle">
                    <%= user.email %>
                </td>
            </tr>
          </table>
        <% end %>
    </div>
      
</div>