<% if user_read_judgement.nil? %>
    <%= form_with url: comic_read_judgement_path(comic.id), local: false, id:"comic_read_judgement" do |f| %>
      <div class="d-flex">
        <%= f.radio_button :read_info, true, style:"display:none;", onchange:"radio_func()" %>
        <%= f.label :read_info, "読めた", for:"read_info_true", class:"mb-0 px-2 py-1 text-nowrap read_judgement can_read_radio" %>　
        <%= f.radio_button :read_info, false, style:"display:none;", onchange:"radio_func()" %>
        <%= f.label :read_info, "読めなかった", for:"read_info_false", class:"mb-0 px-2 py-1 text-nowrap read_judgement can_not_read_radio" %>　
      </div>
      <%= f.submit '', id: "read_judgements_submit", style:"display:none" %>
    <% end %>

<% else %>
    <p class="mr-2 mb-0 px-2 py-1 text-nowrap read_judgement can_read_radio">読めた</p>
    <p class="mb-0">
      <%= can_read.count %>人
      </p>
    <p class="mr-2 ml-3 mb-0 px-2 py-1 text-nowrap read_judgement can_not_read_radio">読めなかった</p>
    <p class="mb-0">
      <%= can_not_read.count %>人
    </p>
<% end %>