<div class="mb-2">
    <% if user_read_judgement.present? && user_read_judgement.can_read == true %>
      <small><b><%= current_user.nick_name %></b> さんは「読めた」を選択中...</small>
    <% elsif user_read_judgement.present? && user_read_judgement.can_read == false %>
      <small><b><%= current_user.nick_name %></b> さんは「読めなかった」を選択中...</small>
    <% elsif version %>
      <p class="small mb-2">上記にある漫画サイトで読めましたか？<br>以下のボタンを押してください</p>
    <% end %>
</div>

<% if user_read_judgement.nil? %>
    <%= form_with url: comic_read_judgement_path(top_comic_info.id), local: false, id:"comic_read_judgement" do |f| %>
      <div class="d-flex">
        <%= f.hidden_field :format, value: "from_top" %>
        <%= f.radio_button :read_info, true, style:"display:none;", onchange:"radio_func()" %>
        <%= f.label :read_info, "読めた", for:"read_info_true", class:"mb-0 px-2 py-1 text-nowrap read_judgement can_read_radio" %>　
        <%= f.radio_button :read_info, false, style:"display:none;", onchange:"radio_func()" %>
        <%= f.label :read_info, "読めなかった", for:"read_info_false", class:"mb-0 px-2 py-1 text-nowrap read_judgement can_not_read_radio" %>
      </div>
      <%= f.submit '', id: "read_judgements_submit", style:"display:none" %>
    <% end %>

<% else %>
    <div class="d-flex" style="align-items: center;">
        <p class="mb-0 px-2 py-1 text-nowrap read_judgement can_read_radio">読めた</p>
        <p class="ml-2 mr-3 mb-0">
          <%= can_read.count %>人
        </p>
        <p class="mb-0 px-2 py-1 text-nowrap read_judgement can_not_read_radio">読めなかった</p>
        <p class="ml-2 mr-3 mb-0">
          <%= can_not_read.count %>人
        </p>
    </div>
<% end %>