<div class="pb-4" style="padding-top:205px; background-color:#FFF; min-height: 85vh;">
  
    <div class="col-10 mt-5 mx-auto">
        <div class="ml-5 mb-5 d-flex flex-wrap">
            <h5><b>' <%= @comic_site.site.name %> ' 一覧　</b></h5>
            <p class="ml-2"><b>全<%= @comic_site_amount.count %>件</b></p>
        </div>
        <div class="d-inline-flex flex-wrap" style="justify-content:center;">
            <% @comic_sites.each do |comic_site| %>
            <% comic = Comic.find_by(isbn: comic_site.comic["isbn"]) %>
              <div class="mx-2">
                <div>
                  <%= link_to comic_path(comic_site.comic.id), class:"img_link" do %>
                    <%= image_tag comic_site.comic.large_image_url, class:"img_comic" %>
                  <% end %>
                </div>
                <div class="py-4 mb-3" style="width:150px; height:auto;">
                  <%= link_to comic_path(comic_site.comic.id) do %>
                    <p class="mb-2 link_text text-dark">
                      <%= comic_site.comic.title.truncate(20) %>
                    </p>
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>
        
        <div class="media_pc">
          <div class="d-flex flex-wrap" style="justify-content:center;">
                <%= paginate @comic_sites, window: 4 %>
          </div>
      </div>
      
      <div class="media_tb">
          <div class="d-flex flex-wrap" style="justify-content:center;">
                <%= paginate @comic_sites, window: 2 %>
          </div>
      </div>
      
      <div class="media_sp">
          <div class="d-flex flex-wrap" style="justify-content:center;">
                <%= paginate @comic_sites, window: 1 %>
          </div>
      </div>
    </div>
    
    <span id="back" style="width:100%; display:none;">
      <a href=""  style="text-decoration:none;">
          <div class="d-flex justify-content-center border mt-5 mx-auto" 
               style="width:95%; height:60px; line-height:60px; background-color:#FFF; box-shadow:5px 5px 5px #DDD;">
            <p class="mb-0 text-dark">TOPへ戻る<i class="bi bi-arrow-up"></i></p>
          </div>
      </a>
    </span>
  
</div>


<script>
  $(function(){
    // ウィンドウの高さとmain要素の高さを取得
    var windowHeight = $(window).height();
    var mainHeight = $('main').height();

    // main要素の高さがウィンドウの高さより大きい場合
    if(mainHeight > windowHeight) {
        // 特定の要素を表示
        $('#back').show();
    } else {
        // そうでない場合、要素を非表示
        $('#back').hide();
    }
  })
</script>