<div class="pb-4" style="padding-top:205px; background-color:#FFF;">
    
      <div class="col-10 mx-auto">
          <%= link_to root_path, class:"btn btn-sm ml-4 mb-4 px-3 border", style:"color:#00264D;" do %>
            <i class="bi bi-arrow-left"></i>
          <% end %>
          
          <h5 class="ml-4 mb-5"><b>'<%= params[:keyword] %>'の検索結果</b></h5>
          <div class="d-inline-flex flex-wrap" style="justify-content:center;">
              
              <% comic_count = 0 %>
              <% @rakuten_web_services.each_with_index do |book, i| %>
              <% comic = Comic.find_by(isbn: book["isbn"]) %>
              <% before_date = Date.current > Date.parse(book["salesDate"].gsub("年", "/").gsub("月", "/").split("日")[0]) %>
              <% future_date = Date.current < Date.parse(book["salesDate"].gsub("年", "/").gsub("月", "/").split("日")[0]) %>
              
              <div class="mx-2">
                  
                  <div style="width:150px;">
                      <% if comic %>
                          <%= link_to comic_path(id: comic.id, keyword: params[:keyword],page: @current_page), class:"img_link" do %>
                            <%= image_tag book["largeImageUrl"], class:"img_comic" %>
                          <% end %>
                      <% else %>
                          <%= link_to top_comic_info_comics_path(isbn: book["isbn"], from_rws: true), class:"img_link" do %>
                            <%= image_tag book["largeImageUrl"], class:"img_comic" %>
                          <% end %>
                      <% end %>
                    </div>
                      
                      
                  <div class="py-4 mb-3" style="width:150px; height:auto;">
                      <% if comic %>
                          <%= link_to comic_path(id: comic.id, keyword: params[:keyword],page: @current_page) do %>
                            <p class="mb-1 link_text text-dark" style="height:50px;">
                              <%= book.title.truncate(17) %>
                            </p>
                          <% end %>
                        
                      <% elsif user_signed_in? && !comic && before_date %>
                      
                          <%= link_to top_comic_info_comics_path(isbn: book["isbn"], from_rws: true) do %>
                            <p class="link_text text-dark mb-0" style="height:50px;">
                              <%= book.title.truncate(17) %>
                            </p>
                          <% end %>
                      
                          <div class= "sample d-flex" style="justify-content: flex-end;">
                              <input type="button" class="btn btn-sm btn-outline-dark my-3 px-3 text-nowrap w-100" style="" value="サイト情報追加">
                          </div>
                          
                          <div class= "sampleA p-2 border" style="display:none;">
                            <div style="height:270px; width:100%; display:flex; justify-content:center;">
                                <div class="p-3">
                                  <%= flash[:alert] %>
                                  <small style="color:red;">※ 読むことができるサイトを全て選択</small>
                                  
                                  <div class="mt-4">
                                      <%= form_with model: @comic, url: comics_path, method: :post do |f| %>
                                          <%= f.hidden_field :isbn, value: book["isbn"] %>
                                          <% Site.all.each do |site| %>
                                              <%= f.check_box :site_ids,{ multiple: true, checked: site[:checked],disabled: site[:disabled], include_hidden: false }, site[:id] %>
                                              <%= f.label site.name, for:"comic_site_ids_#{site[:id]}" %>　
                                          <% end %><br>
                                          <%= f.submit "漫画情報追加", class:"btn rounded-pill mt-3 w-100", style:"background-color:#66CC00; color:white;" %>
                                      <% end %>
                                  </div>
                                </div>
                            </div>
                          </div>
                      <% elsif !comic && before_date %>
                        <div>
                          <%= link_to top_comic_info_comics_path(isbn: book['isbn'], from_rws: true), class:"link_text" do %>
                            <p class="text-dark mb-1" style="height:50px;">
                              <%= book.title.truncate(17) %>
                            </p>
                          <% end %>
                        </div> 
                        <p align="center" class="my-3 py-1 small" style="border:0.5px solid gray; border-radius:5px; color:gray; height:31px;">サイト情報 未追加</p>
                      <% elsif !comic && future_date %>
                        <div>
                          <%= link_to top_comic_info_comics_path(isbn: book['isbn'], from_rws: true), class:"link_text" do %>
                            <p class="text-dark mb-1" style="height:50px;">
                              <%= book.title.truncate(17) %>
                            </p>
                          <% end %>
                        </div>
                        <p align="center" class="my-3 py-1 px-3 py-auto small" style="border:0.5px solid red; border-radius:5px; color:red; height:31px;">未発売</p>
                      <% end %>
                  </div>
              </div>
              <% comic_count += 1 %>
              <% end %>
          </div>
      </div>
      
      <div class="media_pc">
          <div class="d-flex flex-wrap" style="justify-content:center;">
                <%= paginate @rakuten_web_services, window: 4 %>
          </div>
      </div>
      
      <div class="media_tb">
          <div class="d-flex flex-wrap" style="justify-content:center;">
                <%= paginate @rakuten_web_services, window: 2 %>
          </div>
      </div>
      
      <div class="media_sp">
          <div class="d-flex flex-wrap" style="justify-content:center;">
                <%= paginate @rakuten_web_services, window: 1 %>
          </div>
      </div>
      
      <span id="back" style="width:100%; display:none;">
        <a href=""  style="text-decoration:none;">
            <div class="d-flex justify-content-center border mt-5 mx-auto" 
                 style="width:95%; height:60px; line-height:60px; background-color:#FFF; box-shadow:5px 5px 5px #DDD;">
              <p class="mb-0 text-dark">TOPへ戻る<i class="bi bi-arrow-up"></i></p>
            </div>
        </a>
      </span>
      
</div>

<script>
  $(function(){
    // ウィンドウの高さとmain要素の高さを取得
    var windowHeight = $(window).height();
    var mainHeight = $('main').height();

    // main要素の高さがウィンドウの高さより大きい場合
    if(mainHeight > windowHeight) {
        // 特定の要素を表示
        $('#back').show();
    } else {
        // そうでない場合、要素を非表示
        $('#back').hide();
    }
  })
    
  $(function(){
    //ボタンのイベント
    $(".btn").click(function(e){
      // sampleAクラスをスライドアップ/ダウンさせる
      $(e.target).parent().next('.sampleA').slideToggle();
    });
  });
</script>