<div class="container" style="margin-top:100px;">
  <div class="row mx-auto" style="padding:30px 0px 45px;">
      
        <div class="mx-auto">
            <%= link_to root_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
              <i class="bi bi-arrow-left"></i>
            <% end %>
            
            <h5 class="mb-5"><b>'<%= params[:keyword] %>'の検索結果</b></h5>
            
            <div class="d-inline-flex flex-wrap" style="justify-content:center;">
                  <% @rakuten_web_services.each do |book| %>
                    <div class="mx-2">
                      <div style="width:150px;">
                        <%= link_to root_path do %>
                          <%= image_tag book["largeImageUrl"], style:"width:150px; height:230px; background-size: cover; border:0.5px solid #00264D; box-shadow:8px 8px 20px #999;" %>
                        <% end %>
                      </div>
                      <div class="py-4" style="width:150px; height:280px;">
                        <%= link_to root_path do %>
                          <h5 style="height:60px;"><b><%= book["title"].truncate(13) %></b></h5>
                        <% end %>
                        <p class="mb-0" style="height:120px;">
                          <%= book["author"] %><br>
                          <small>(<%= book["authorKana"] %>)</small><br>
                          <%= book["publisherName"] %><br>
                          <small><%= book["salesDate"] %></small><br>
                          <small><%= book["isbn"] %></small>
                        </p>
                      </div>
                      <!--<#% if @comic.bookmarked_by?(current_user) %>-->
                      <!--  <td>-->
                      <!--    <#%= link_to  destroy_bookmark_comics_path(@comic), method: :delete do %>-->
                      <!--      <i class="bi bi-bookmark-check-fill"></i>-->
                      <!--    <#% end %>-->
                      <!--  </td>-->
                      <!--<#% else %>-->
                      <!--  <td>-->
                      <!--    <#%= link_to create_bookmark_comics_path(@comic), method: :post do %>-->
                      <!--      <i class="bi bi-bookmark"></i>-->
                      <!--    <#% end %>-->
                      <!--  </td>-->
                      <!--<#% end %>-->
                    </div>
                  <% end %>
            </div>
        </div>
      
  </div>
</div>