<div style="background-color:#EEE; height:100px;"></div>
  <div style="background-color:#EEE; padding:30px 0; min-height: 71vh;">
    
    <div class="col-lg-9 mx-auto p-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD;">
        <% if session["search_keyword"].present? %>
            <%= link_to search_index_comics_path(keyword: session["search_keyword"]), class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
              <i class="bi bi-arrow-left"></i>
            <% end %>
        <% elsif session["url"] %>
            <%= link_to session["url"], class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
              <i class="bi bi-arrow-left"></i>
            <% end %>
        <% else %>
            <%= link_to root_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
              <i class="bi bi-arrow-left"></i>
            <% end %>
        <% end %>
        
        <div class="d-flex flex-wrap"  style="padding:30px 20px; justify-content:center;">
            <%= image_tag @rb_comic_info.large_image_url, class:"my-3 mx-5", style:"width:170px; height:250px; background-size: cover; border:0.5px solid #00264D; box-shadow:8px 8px 20px #999;" %>
            <div class="p-3">
              
                <div>
                  <h5><b><%= @rb_comic_info.title %>　</b><small>の詳細</small></h5>
                  <div class="mt-3">
                    著者：　　<%= @rb_comic_info.author %>
                    <small>(<%= @rb_comic_info.author_kana %>)</small><br>
                    出版社：　<%= @rb_comic_info.publisher_name %><br>
                    発売日：　<%= @rb_comic_info.sales_date %>
                  </div>
                </div>
                
                <hr>
                
                <div class="mt-4">
                      <div class="d-flex" style="align-items: center;">
                        <small class="border mb-2 mr-4 p-1">以下の漫画サイトで読むことができます！</small><br>
                        <% if @user_read_judgement.present? && @can_not_read.present? %>
                          <%= link_to "編集", edit_comic_path(@rb_comic_info.id), class:"btn btn-sm rounded-pill mb-2 ml-auto px-3 text-nowrap", style:"background-color:#66CC00; color:white;" %>
                        <% end %>
                      </div>
                      
                      <% @create_sites.each do |create_site| %>
                        <p class="pb-0 d-inline-flex">
                          <i class="bi bi-check-lg text-success"></i>
                          <%= create_site.name %>
                        </p>
                      <% end %><br>
                      
                      <small>
                        <%= @rb_comic_info.created_at.strftime('%Y年%m月%d日%H時%M分') %>　
                        <b><%= @create_user.nick_name %></b> さんがサイト情報更新
                      </small>
                         
                      <hr>
                      
                      <div class="d-flex" style="align-items: center;">
                        <% if user_signed_in? && @user_read_judgement.nil? %>
                            <%= form_with url: comic_read_judgement_path(@rb_comic_info.id) do |f| %>
                              <div class="d-flex">
                              <%= f.radio_button :read_info, true, checked: true, style:"display:none;" %>
                              <%= f.label :read_info, "読めた", for:"read_info_true", class:"mt-3 mb-0 px-2 py-1 text-nowrap read_judgement can_read_radio" %>　
                              <%= f.radio_button :read_info, false, style:"display:none;" %>
                              <%= f.label :read_info, "読めなかった", for:"read_info_false", class:"mt-3 mb-0 px-2 py-1 text-nowrap read_judgement can_not_read_radio" %>　
                              <!--<#%= f.radio_button :type, 'hoge',{ :onclick => remote_function(:update => "total", :url =>{ :action => 'total_number'}, :submit => :user) } %>-->
                              <!--<span id="total"><#%= render :partial => 'total' %>&lt;</span>-->
                              <%= f.submit "確定", class:"btn btn-sm btn-dark mt-3 mr-5" %>
                              </div>
                            <% end %>
                        <% else %>
                          <p class="mt-3 mr-2 mb-0 px-2 py-1 text-nowrap read_judgement can_read_radio">読めた</p>
                          <p class="mt-3 mb-0">
                            <%= @can_read %>人
                            </p>
                          <p class="mt-3 mr-2 ml-3 mb-0 px-2 py-1 text-nowrap read_judgement can_not_read_radio">読めなかった</p>
                          <p class="mt-3 mb-0">
                            <%= @can_not_read %>人
                          </p>
                        <% end %>
                        
                        <% if user_signed_in? && @has_bookmark %>
                          <%= link_to comic_destroy_bookmark_path(@rb_comic_info.id), class:"btn p-0" do %>
                            <div class="d-inline-flex mt-4 ml-5">
                              <h3><i class="bi bi-bookmark-check-fill mb-0"></i></h3>
                              <small class="p-1 text-nowrap" style="vertical-align:middle;">追加済み</small>
                            </div>
                          <% end %>
                        <% elsif user_signed_in? && @has_bookmark.nil? %>
                          <%= link_to comic_bookmark_path(@rb_comic_info.id), class:"btn p-0" do %>
                            <div class="d-inline-flex mt-4 ml-5">
                              <h3><i class="bi bi-bookmark-plus mb-0"></i></h3>
                              <small class="p-1 text-nowrap" style="vertical-align:middle;">追加</small>
                            </div>
                          <% end %>
                        <% end %>
                      </div><br>
                      
                      version : <%= @rb_comic_info.version %><br>
                </div>
                
            </div>
        </div>
    </div>
    
  </div>
</div>
    