<div style="background-color:#EEE; height:100px;"></div>
<div style="background-color:#EEE; padding:30px 0; min-height: 71vh;">
  <div class="col-lg-9 mx-auto p-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD;">
        
        
        <!--前の画面に遷移するボタン-->
        <% if session["search_keyword"].present? && params[:page] %>
            <%= link_to search_index_comics_path(keyword: session["search_keyword"], page: params[:page]), class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
              <i class="bi bi-arrow-left"></i>
            <% end %>
        <% elsif session["url"] %>
            <%= link_to session["url"], class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
              <i class="bi bi-arrow-left"></i>
            <% end %>
        <% else %>
            <%= link_to root_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
              <i class="bi bi-arrow-left"></i>
            <% end %>
        <% end %><br>
        
        
        <%= flash[:alert] %>
        <div class="alert alert-danger" style="display:none;">
          <%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        
        
        <!--漫画情報詳細-->
        <div class="d-flex flex-wrap"  style="padding:30px 20px; justify-content:center;">
            
            <!--書籍情報-->
            <%= image_tag @comic.large_image_url, class:"my-3 mx-5", style:"width:170px; height:250px; background-size: cover; border:0.5px solid #00264D; box-shadow:8px 8px 20px #999;" %>
            
            <div class="p-3">
                <div>
                  <h5><b><%= @comic.title %>　</b><small>の詳細</small></h5>
                  <div class="mt-3">
                    著者：　　<%= @comic.author %>
                    <small>(<%= @comic.author_kana %>)</small><br>
                    出版社：　<%= @comic.publisher_name %><br>
                    発売日：　<%= @rb_comic["salesDate"] %>
                  </div>
                </div>
                
                
                <hr>
                
                
                <div class="mt-4">
                  
                    <!--漫画サイト情報-->
                    <small class="border mb-2 mr-4 p-1 text-success">以下の漫画サイトで読むことができます！</small><br> 
                    <% if user_signed_in? && @can_not_read.count > 0 && @comic_update_limit_count > 0 %>
                      <div class= "sample d-flex" style="justify-content: flex-end;">
                        <input type="button" class="btn btn-sm rounded-pill mb-2 px-3 text-nowrap" style="background-color:#66CC00; color:white;" value="編集">
                      </div>
                      <div class= "sampleA mb-3 border" style="display:none;">
                        <div style="height:250px; width:100%; padding:30px 20px; display:flex; justify-content:center;">
                          <div class="p-3">
                              <p><b>' <%= @comic.title %> '</b><small>の編集...</small></p>
                              <small style="color:red;">※ 読むことができるサイトを以下の中から全て選択してください</small>
                              
                              <div class="mt-2">
                                  <%= form_with model: @comic, url: comic_path(@comic.id), method: :patch do |f| %>
                                      <%= f.hidden_field :isbn, value: params[:isbn] %>
                                      <% Site.all.each do |site| %>
                                          <%= f.check_box :site_ids,{ multiple: true, checked: site[:checked],disabled: site[:disabled], include_hidden: false }, site[:id] %>
                                          <%= f.label site.name, for:"comic_site_ids_#{site[:id]}" %>　
                                      <% end %><br>
                                      <%= f.submit "漫画情報を変更", class:"btn btn-sm btn-outline-dark rounded-pill mt-3 px-3 w-100", style:"" %>
                                  <% end %>
                              </div>
                          </div>
                        </div>
                      </div>
                      <script src="index.js"></script>
                    <% end %>
                    
                
                    <% @sites.each do |site| %>
                      <p class="pb-0 d-inline-flex">
                        <i class="bi bi-check-lg text-success"></i>
                        <%= site.name %>
                      </p>
                    <% end %><br>
                
                    <p class="small mt-3">
                      <%= @comic.updated_at.strftime('%Y年%m月%d日%H時%M分') %>　
                      <b><%= @comic.user.nick_name %></b> さんが更新済み
                      (ver.<%= @comic.version %>)<br>
                      <% if @comic.remaining_one_comic_update_limit < 1 %>
                        今日の更新はこれ以上することができません。
                      <% else %>
                        この漫画の更新残数は <%= @comic.remaining_one_comic_update_limit %> 回です。
                      <% end %>
                    </p>
                    
                    
                    <!--前提定義-->
                    <% if user_signed_in? %>
                    <% user_read_judgement = ReadJudgement.find_by(comic_id: @comic.id, user_id: current_user.id, version: @comic.version) %>
                    <% current_version = Comic.order(version: :desc).limit(1) %>
                    <% bookmark = Bookmark.where(comic_id: @comic.id, user_id: current_user) %>
                    <% bookmark_all_user = Bookmark.where(comic_id: @comic.id) %>
                    <!--ここまで-->
                        
                        
                        <hr>
                        
                        
                        <!--可読判定に対するメッセージ-->
                        <div class="mb-2">
                            <% if user_read_judgement.present? && user_read_judgement.can_read == true %>
                              <small><b><%= current_user.nick_name %></b> さんは「読めた」を選択中...</small>
                            <% elsif user_read_judgement.present? && user_read_judgement.can_read == false %>
                              <small><b><%= current_user.nick_name %></b> さんは「読めなかった」を選択中...</small>
                            <% elsif current_version && %>
                              <p class="small mb-2">上記にある漫画サイトで読めましたか？<br>以下のボタンを押してください</p>
                            <% end %>
                        </div>
                        
                        
                        <!--可読判定-->
                        <div class="d-flex" style="align-items: center;">
                            <!--可読情報が未追加-->
                            <div id="read_judgements_buttons_<%= @comic.id %>">
                              <%= render partial: '/public/comics/read_judgement', locals: {comic: @comic, user_read_judgement: user_read_judgement, can_read: @can_read, can_not_read: @can_not_read} %>
                            </div>
                          </div>
                          
                          
                          <hr>
                          
                          
                          <!--ブックマーク-->
                          <div class="d-flex flex-wrap mr-2" style="align-items: center;">
                              <div class="ml-auto">
                                  <div id="bookmarks_buttons_<%= @comic.id %>">
                                    <%= render partial: '/public/bookmarks/bookmarks', locals: {comic: @comic} %>
                                  </div>
                              </div>
                          </div><br>
                      <% end %>
                      
                      <%= request.referer %>
                    
                </div>
            </div>
        </div>
    
  </div>
</div>

<script>
  function radio_func() {
    if(window.confirm('情報は間違いありませんか？意図的に誤った内容を送信することは禁止されています。')) {
      // var form = document.getElementById('comic_read_judgement');
      //   form.addEventListener('submit', (event) => {
      //   event.stopPropagation();
      //   event.preventDefault();
      //   const formData = new formData(form);
      //   const options = {
      //     method: 'POST',
      //     body: formData,
      //     dataType: 'script'
      //   }
      //   const url = form.action;
      //   fetch(url, options);
      // });
      // form.submit(); 
      var submit = document.getElementById('read_judgements_submit')
      submit.click()
    }else {
      return
    }
  }
  
  $(function(){
    //ボタンのイベント
    $(".btn").click(function(){
      // sampleAクラスをスライドアップ/ダウンさせる
      $(".sampleA").slideToggle();
    });
  });
</script>

<!--function radio_func() {-->
<!--    if(window.confirm('情報は間違いありませんか？意図的に誤った内容を送信することは禁止されています。')) {-->
<!--      var form = document.getElementById('comic_read_judgement');-->
<!--      // form.submit(); -->
<!--      // $('input[name=read_info]:checked').val()-->
<!--      // $('#read_judgement_id').html('<p>change</p>');-->
<!--      // let token = $('meta[name="csrf-token"]').attr('content');-->
<!--      // let read_info_value = $('input[name=read_info]:checked').val();-->
<!--      // $.ajax({-->
<!--      //   type: 'post',-->
<!--      //   url: '/comics/<#%= @comic.id %>/read_judgement.js',-->
<!--      //   data: {-->
<!--      //     read_info: read_info_value-->
<!--      //   },-->
<!--      //   headers: {-->
<!--      //     'X-CSRF-Token': token-->
<!--      //     'Content-Type': 'text/javascript, application/javascript, application/ecmascript, application/x-ecmascript'-->
<!--      //   },-->
<!--      //   dataType: 'json'-->
<!--      // }).done(function (data) {-->
<!--      //   console.log(data);-->
<!--      //   //成功処理-->
  
<!--      // }).fail(function () {-->
  
<!--      //   //失敗処理-->
  
<!--      // });-->
<!--    }else {-->
<!--      return-->
<!--    }-->
<!--  }-->