<div style="padding-top:180px"></div>

<% if flash[:notice].present? %>
    <div>
        <div class="alert alert-success alert-dismissible mx-auto mb-0" style="width:94%;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
        </div>
    </div>
<% end %>

<!--ランキング-->
<div class="row mx-auto" style="padding:15px 20px 40px; background-color:#EEE;">

    <!--User Ranking欄-->
    <div class="col-lg-6 col-md-10 object-background mx-auto p-5">
    
        
        
        <div class="d-flex align-items-end mb-3">
              <h5 class="font_1 font_shadow mr-2 mb-4"><b>User<br>Ranking</b></h5>
              <p class="button_shadow ml-auto mr-2 mb-4">
                <%= link_to user_rank_index_path, class:"btn btn-sm btn-outline-dark px-3" do %>
                  全て見る <i class="bi bi-arrow-right-circle"></i>
                <% end %>
              </p>
        </div>
        
        <% if @user_rank.present? %>
            <div class="row object-centering mt-5">
                
                <!--１〜３位-->
                <div class="col-lg-6 col-md-10 d-flex px-0">
                  <table class="table table-borderless mb-3">
                    
                        <tr>
                            <td class="font_2" align="right">
                              <h5>1</h5>
                            </td>
                            <td class="border" align="center" style="width:90%;">
                              <div class="user_icon">
                                <% if @user_rank[0].profile_image.attached? %>
                                  <%= image_tag @user_rank[0].profile_image, size: "65x65", style:"object-fit:cover;" %>
                                <% else %>
                                  <%= image_tag 'no_image', size: "65x65", style:"object-fit:cover;" %>
                                <% end %>
                              </div>
                              <div class="font_1 mt-2" style="overflow-wrap: break-word;">
                                <%= @user_rank[0].nick_name %>
                              </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="font_2" align="right">2</td>
                            <td class="border" align="center">
                              <div class="user_icon">
                                <% if @user_rank[1].profile_image.attached? %>
                                  <%= image_tag @user_rank[1].profile_image, size: "65x65", style:"object-fit:cover;" %>
                                <% else %>
                                  <%= image_tag 'no_image', size: "65x65", style:"object-fit:cover;" %>
                                <% end %>
                              </div>
                              <div class="font_1 mt-2" style="overflow-wrap: break-word;">
                                <%= @user_rank[1].nick_name %>
                              </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="font_2" align="right">3</td>
                            <td class="border" align="center">
                              <div class="user_icon">
                                <% if @user_rank[2].profile_image.attached? %>
                                  <%= image_tag @user_rank[2].profile_image, size: "65x65", style:"object-fit:cover;" %>
                                <% else %>
                                  <%= image_tag 'no_image', size: "65x65", style:"object-fit:cover;" %>
                                <% end %>
                              </div>
                              <div class="font_1 mt-2" style="overflow-wrap: break-word;">
                                <%= @user_rank[2].nick_name %>
                              </div>
                            </td>
                        </tr>
                        
                  </table>
                </div>
                
                
                <!--４〜５位-->
                <div class="col-lg-5 col-md-10 align-self-end px-0">
                  <table class="table table-borderless mb-3">
                        
                        <tr>
                            <td class="font_2" align="right">4</td>
                            <td class="border" align="center" style="width:70%;">
                                <div class="user_icon">
                                  <% if @user_rank[3].profile_image.attached? %>
                                    <%= image_tag @user_rank[3].profile_image, size: "55x55", style:"object-fit:cover;" %>
                                  <% else %>
                                    <%= image_tag 'no_image', size: "55x55", style:"object-fit:cover;" %>
                                  <% end %>
                                </div>
                                <div class="font_1 mt-2" style="overflow-wrap: break-word;">
                                  <%= @user_rank[3].nick_name %>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="font_2" align="right">5</td>
                            <td class="border" align="center">
                                <div class="user_icon">
                                  <% if @user_rank[4].profile_image.attached? %>
                                    <%= image_tag @user_rank[4].profile_image, size: "55x55", style:"object-fit:cover;" %>
                                  <% else %>
                                    <%= image_tag 'no_image', size: "55x55", style:"object-fit:cover;" %>
                                  <% end %>
                                </div>
                                <div class="font_1 mt-2" style="overflow-wrap: break-word;">
                                  <%= @user_rank[4].nick_name %>
                                </div>
                            </td>
                        </tr>
                        
                  </table>
                </div>
              
            </div>
        <% else %>
            <div class="col-lg-12 col-md-12 d-flex align-items-center p-3 border" style="display:table; width:100%; height:200px; border-radius:5px;">
              <p class="text-center mb-0 mx-auto" style="display:table-cell; vertical-align: middle; text-align:center; color:silver;">
                登録されているユーザはいません。<br>
                <%= link_to "新規登録", new_user_registration_path %>はこちら
              </p>
            </div>
        <% end %>
        
    </div>
    
    
    <!--My Ranking欄-->
    <% if user_signed_in? %>
    <div class="col-lg-5 col-md-10 font_1 object-background mx-auto p-5">
    
          <h5 class="font_1 font_shadow">
            <b>My<br>Ranking</b>
          </h5>
          
          <div class="d-flex flex-wrap mt-4" style="align-items:center;">
            <small>
              <b><%= current_user.nick_name %></b> さんの <b>Ranking</b> は...　
            </small>
            <h1 class="font_2 ml-2 mb-0"><%= @my_rank %></h1>　位
          </div>
          
          <div class="d-flex mt-3" style="align-items:center;">
            <p class="mb-0">更新：</p>
            <h4 class="font_2 mb-0">　<%= current_user.update_count %>　</h4>
            <p class="small mb-0">回</p>
          </div>
          
          <div class="d-flex mt-3" style="align-items:center;">
            <p class="mb-0">評価：</p>
            <h4 class="font_2 mb-0">　<%= current_user.read_judgements.where(can_read: true).count %>　</h4>
            <p class="small mb-0">件</p>
          </div>
          
          <div class="border mt-5 p-4">
            <ul class="mb-0 pl-0">
              <li class="list_marker">
                <p class="small list_icon">サイト情報の新規追加　[ 回数×２ ]</p>
              </li>
              
              <li class="list_marker">
                <p class="small list_icon">サイト情報の内容訂正 & サイト情報に対する評価　[ 件数×１]</p>
              </li>
              
              <li class="list_marker">
                <p class="small list_icon">ランキング上位者に報酬特典</p>
              </li>
              
              <li class="list_marker">
                <p class="small list_icon">漫画情報（全体）の更新回数　１００回 / 日</p>
              </li>
              
              <li class="list_marker">
                <p class="small list_icon mb-0">漫画情報（同一）の更新回数　１回 / 日</p>
              </li>
            </ul>
          </div>
          
          <small class="mt-2 mr-2" style="float:right;">
            <%= link_to "more >>", "#", class: "font_1" %>
          </small>
          
    </div>
    
    <% else %>
    <div class="col-lg-5 col-md-10 object-background mx-auto p-5" style="height:100%;">
    
          <div class="mr-4 mb-4">
            <h5 class="font_1 font_shadow mb-0">
              <b>About<br>Ranking</b>
            </h5>
          </div>
          
          <div class="border p-4 w-100" style="">
              <ul class="mb-0 pl-0">
                <li class="list_marker">
                  <p class="small list_icon">サイト情報の新規追加　[ 回数×２ ]</p>
                </li>
                
                <li class="list_marker">
                  <p class="small list_icon">サイト情報の内容訂正 & サイト情報に対する評価　[ 件数×１]</p>
                </li>
                
                <li class="list_marker">
                  <p class="small list_icon">ランキング上位者に報酬特典</p>
                </li>
                
                <li class="list_marker">
                  <p class="small list_icon">漫画情報（全体）の更新回数　１００回 / 日</p>
                </li>
                
                <li class="list_marker">
                  <p class="small list_icon mb-0">漫画情報（同一）の更新回数　１回 / 日</p>
                </li>
              </ul>
          </div>
          
          <small class="mt-2 mr-2" style="float:right;">
            <%= link_to "more >>", "#", class:"font_1" %>
          </small>
          
    </div>
    <% end %>
</div>
  
  
<div style="background-color:#FFF; padding-top:80px;">
  
    <!--新着-->
    <div class="object-shadow">
      <div class="comic_contents comic_contents_margin py-4">
        
          <div class="d-flex">
              <h4 class="mt-4 ml-5 mb-2"><b>新着</b></h4>
              <div class="button_shadow mt-4 ml-auto mr-5 mb-3">
                <%= link_to sale_index_comics_path, class:"btn btn-sm btn-outline-dark px-3" do %>
                  全て見る <i class="bi bi-arrow-right-circle"></i>
                <% end %>
              </div>
          </div>
          
          <p class="mx-5 mb-5">~ 最新情報はこちらからチェック！！~</p>
          <div class="contents_box js-scrollable">
              <% @new_comics.each do |book| %>
                  <div class="contents mr-3">
                    <%= link_to top_comic_info_comics_path(isbn: book['isbn'], from_rws: true), class:"img_link" do %>
                      <%= image_tag book["largeImageUrl"], class:"top_img_comic" %>
                    <% end %>
                    <p class="small mt-3">
                      <%= book["title"].truncate(13) %>
                    </p>
                  </div>
              <% end %>
          </div>
          
      </div>
    </div>
    
    
    
    <!--User Select-->
    <div class="object-shadow">
      <div class="comic_contents comic_contents_margin py-4">
        
          <div class="d-flex">
            <h4 class="mt-4 ml-5 mb-2"><b>User Select</b></h4>
            <div class="button_shadow mt-4 ml-auto mr-5 mb-3">
              <%= link_to user_select_index_comics_path, class:"btn btn-sm btn-outline-dark px-3" do %>
                全て見る <i class="bi bi-arrow-right-circle"></i>
              <% end %>
            </div>
          </div>
          
          <p class="mx-5 mb-5">~ Comic Read now!の利用ユーザに人気の漫画を見てみよう！ ~</p>
          
          <% if @bookmark_comics.present? %>
          <div class="contents_box js-scrollable">
            <% @bookmark_comics.each do |book| %>
            <% comic = Comic.find_by(isbn: book["isbn"]) %>
              <div class="contents mr-3">
                  <%= link_to top_comic_info_comics_path(isbn: book['isbn'], from_rws: false), class:"img_link" do %>
                    <%= image_tag book.large_image_url, class:"top_img_comic" %>
                  <% end %>
                  <p class="small mt-3">
                  <%= book.title.truncate(13) %>
                  </p>
                </div>
            <% end %>
          </div>
          <% else %>
            <div class="col-lg-12 col-md-12 d-flex align-items-center p-3 border" style="display:table; width:100%; height:200px; border-radius:5px;">
              <p class="text-center mb-0 mx-auto" style="display:table-cell; vertical-align: middle; text-align:center; color:silver;">
                Comic Read Now! の利用ユーザがお気に入りにした漫画が存在しません。<br>
              </p>
            </div>
          <% end %>
          
      </div>
    </div>
    
    
    
    <!--総合ランキング-->
    <div class="object-shadow">
      <div class="comic_contents comic_contents_margin py-4">
        
          <div class="d-flex">
            <h4 class="mt-4 ml-5 mb-2"><b>総合ランキング</b></h4>
            <div class="button_shadow mt-4 ml-auto mr-5 mb-3">
              <%= link_to review_count_index_comics_path, class:"btn btn-sm btn-outline-dark px-3" do %>
                全て見る <i class="bi bi-arrow-right-circle"></i>
              <% end %>
            </div>
          </div>
          
          <p class="mx-5 mb-5">~ 不動の人気漫画！！時代を超えて楽しめる漫画を読もう ~</p>
          
          <div class="contents_box js-scrollable">
            <% @review_comics.each do |book| %>
                <div class="contents mr-3">
                  <%= link_to top_comic_info_comics_path(isbn: book['isbn'], from_rws: true), class:"img_link" do %>
                    <%= image_tag book["largeImageUrl"], class:"top_img_comic" %>
                  <% end %>
                  <p class="small mt-3">
                    <%= book["title"].truncate(13) %>
                  </p>
                </div>
            <% end %>
          </div>
          
      </div>
    </div>
    
    
    
    <!--Next Coming-->
    <div class="object-shadow">
      <div class="comic_contents comic_contents_margin py-4">
        
          <div class="d-flex">
            <h4 class="mt-4 ml-5 mb-2"><b>Next Coming</b></h4>
            <div class="button_shadow mt-4 ml-auto mr-5 mb-3">
                <%= link_to next_coming_index_comics_path, class:"btn btn-sm btn-outline-dark px-3" do %>
                  全て見る <i class="bi bi-arrow-right-circle"></i>
                <% end %>
              </div>
          </div>
          
          <p class="mx-5 mb-5">~ 気になる漫画の新刊情報をチェック！ ~</p>
          
          <div class="contents_box js-scrollable">
            <% @next_comics.each do |book| %>
                <div class="contents mr-3">
                  <%= link_to top_comic_info_comics_path(isbn: book['isbn'], from_rws: true), class:"img_link" do %>
                    <%= image_tag book["largeImageUrl"], class:"top_img_comic" %>
                  <% end %>
                  <p class="small mt-3">
                    <%= book["title"].truncate(13) %>
                  </p>
                </div>
            <% end %>
          </div>
          
      </div>
    </div>
    
    
    
    <span id="back">
      <a href=""  style="text-decoration:none;">
          <div class="d-flex justify-content-center border mt-5 mb-4 mx-auto" 
               style="width:95%; height:60px; line-height:60px; background-color:#FFF; box-shadow:5px 5px 5px #DDD;">
            <p class="mb-0 text-dark ">TOPへ戻る<i class="bi bi-arrow-up"></i></p>
          </div>
      </a>
    </span>


</div>

<script>
  new ScrollHint('.js-scrollable', {
    scrollHintIconAppendClass: 'scroll-hint-icon-white'
  });
</script>