<div class="" style="margin-top:100px;">
  <div class="row mx-auto" style="padding:30px 30px 45px;">
    
      <div class="col-lg-6 p-4 mx-auto border">
          <div class="d-flex align-items-end mb-3">
                <h5 class="ml-2 my-auto"><b>User Ranking</b></h5>
                <p class="mb-0 ml-auto mr-2" style="box-shadow:4px 5px 7px #CCC;">
                  <%= link_to user_rank_index_path, class:"btn btn-sm btn-dark px-3" do %>
                    全て見る <i class="bi bi-arrow-right-circle"></i>
                  <% end %>
                </p>
          </div>
          <table class="table table-borderless mb-0">
            <tr>
                <td style="width:40px; text-align:left;">１位</td>
                <td class="border">ユーザ１</td>
                <td></td>
            </tr>
            <tr>
                <td style="width:15%; text-align:left;">２位</td>
                <td class="border">ユーザ２</td>
                <td style="width:15%; text-align:center;">４位</td>
                <td class="border">ユーザ４</td>
            </tr>
            <tr>
                <td style="width:40px; text-align:left;">３位</td>
                <td class="border">ユーザ３</td>
                <td style="width:40px; text-align:center;">５位</td>
                <td class="border">ユーザ５</td>
            </tr>
          </table>
      </div>
      
      <% if user_signed_in? %>
          <div class="col-lg-5 p-4 mx-auto border">
                  <h5><b>My Ranking</b></h5>
          </div>
      <% end %>
    </div>
  
    <div style="box-shadow:10px 0px 10px 3px #EEE;">
      <div class="p-2" style="min-height: 53vh; margin-bottom:80px;">
        <h6 class="mt-4 ml-5 mb-0"><b>新着</b></h6>
        <div>
          <% @new_comics.each do |book| %>
            <%= image_tag book["mediumImageUrl"] %><br>
            <%= book["title"] %><br>
            <%= book["salesDate"] %>
            <hr>
            
          <% end %>
        </div>
      </div>
    </div>
  
    <div class="" style="box-shadow:10px 0px 10px 3px #EEE;">
      <div class="p-2" style="min-height: 53vh; margin-bottom:80px;">
        <h6 class="mt-4 ml-5 mb-0"><b>総合ランキング</b></h6>
      </div>
      <div>
        <% @comics.each do |book| %>
          <%= image_tag book["mediumImageUrl"] %><br>
          <%= book["title"] %>
          <hr>
          
        <% end %>
      </div>
    </div>
  
    <span id="back">
      <a href=""  style="text-decoration:none;">
          <div class="d-flex justify-content-center border mt-5 mb-4 mx-auto" 
               style="width:95%; height:60px; line-height:60px; background-color:#FFF; box-shadow:5px 5px 5px #DDD;">
            <p class="mb-0 text-dark ">TOPへ戻る<i class="bi bi-arrow-up"></i></p>
          </div>
      </a>
    </span>
    
  </div>
</div>
