<div class="" style="margin-top:100px;">
  <div class="row mx-auto" style="padding:30px 30px 45px;">
      
      <div class="col-lg-6 mx-auto p-5" style="background-color:#FFF; box-shadow:0.5px 5px 5px 5px #DDD;">
          <div class="d-flex align-items-end mb-3">
                <h5 class="mr-2 mb-4" style="font-family: 'Bruno Ace', cursive; text-shadow: 4px 4px 4px #aaa;"><b>User Ranking</b></h5>
                <p class="mb-0 ml-auto mr-2 mb-4" style="box-shadow:4px 5px 7px #EEE;">
                  <%= link_to user_rank_index_path, class:"btn btn-sm btn-outline-dark px-3" do %>
                    全て見る <i class="bi bi-arrow-right-circle"></i>
                  <% end %>
                </p>
          </div>
          
          <div class="row">
            <div class="col-lg-6 d-flex flex-wrap px-0">
                  <table class="table table-borderless mb-3">
                    <tr>
                        <td class="text-nowrap" align="right" style="font-family: 'Dela Gothic One', cursive;">
                          <h5>1</h5>
                        </td>
                        <td class="border" align="center">
                          <div class="user_icon">
                            <% if @user_rank[0].profile_image.attached? %>
                              <%= image_tag @user_rank[0].profile_image, size: "65x65", class:"" %>
                            <% else %>
                              <%= image_tag 'no_image', size: "60x60" %>
                            <% end %>
                          </div>
                          <div class="mt-2" style="font-family: 'Bruno Ace', cursive;">
                            <%= @user_rank[0].nick_name %>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap" align="right" style="font-family: 'Dela Gothic One', cursive;">2</td>
                        <td class="border" align="center">
                          <div class="user_icon">
                            <% if @user_rank[1].profile_image.attached? %>
                              <%= image_tag @user_rank[1].profile_image, size: "65x65", class:"" %>
                            <% else %>
                              <%= image_tag 'no_image', size: "60x60" %>
                            <% end %>
                          </div>
                          <div class="mt-2" style="font-family: 'Bruno Ace', cursive;">
                            <%= @user_rank[1].nick_name %>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap" align="right" style="font-family: 'Dela Gothic One', cursive;">3</td>
                        <td class="border" align="center">
                          <div class="user_icon">
                            <% if @user_rank[2].profile_image.attached? %>
                              <%= image_tag @user_rank[2].profile_image, size: "65x65", class:"" %>
                            <% else %>
                              <%= image_tag 'no_image', size: "60x60" %>
                            <% end %>
                          </div>
                          <div class="mt-2" style="font-family: 'Bruno Ace', cursive;">
                            <%= @user_rank[2].nick_name %>
                          </div>
                        </td>
                    </tr>
                  </table>
            </div>
                  
                  
            <div class="col-lg-5 align-self-end px-0">
                  <table class="table table-borderless mb-3">
                    <tr>
                        <td class="" align="right" style="font-family: 'Dela Gothic One', cursive;">4</td>
                        <td class="border" align="center">
                          <div class="user_icon">
                            <% if @user_rank[3].profile_image.attached? %>
                              <%= image_tag @user_rank[3].profile_image, size: "55x55", class:"" %>
                            <% else %>
                              <%= image_tag 'no_image', size: "60x60" %>
                            <% end %>
                          </div>
                          <div class="mt-2" style="font-family: 'Bruno Ace', cursive;">
                            <%= @user_rank[3].nick_name %>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="" align="right" style="font-family: 'Dela Gothic One', cursive;">5</td>
                        <td class="border" align="center">
                          <div class="user_icon">
                            <% if @user_rank[4].profile_image.attached? %>
                              <%= image_tag @user_rank[4].profile_image, size: "55x55", class:"" %>
                            <% else %>
                              <%= image_tag 'no_image', size: "60x60" %>
                            <% end %>
                          </div>
                          <div class="mt-2" style="font-family: 'Bruno Ace', cursive;">
                            <%= @user_rank[4].nick_name %>
                          </div>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
      </div>
      
      <% if user_signed_in? %>
          <div class="col-lg-5 mx-auto p-5" style="font-family: 'Bruno Ace', cursive; background-color:#FFF; box-shadow:0.5px 5px 5px 5px #DDD;">
              <h5 style="font-family: 'Bruno Ace', cursive; text-shadow: 4px 4px 4px #aaa;"><b>My Ranking</b></h5>
              <div class="d-flex" style="align-items:center;">
                <small>
                  <b><%= current_user.nick_name %></b> さんの <b>Ranking</b> は...　
                </small>
                <h1 class="mb-0" style="font-family: 'Dela Gothic One', cursive;">5</h1>　位
              </div>
              <div class="mt-4 d-flex" style="align-items:center;">
                <p class="mb-0">更新：</p><h4 class="mb-0" style="font-family: 'Dela Gothic One', cursive;">　5　</h4><p class="small mb-0">回</p>
              </div>
              <div class="mt-3 d-flex" style="align-items:center;">
                <p class="mb-0">評価：</p><h4 class="mb-0" style="font-family: 'Dela Gothic One', cursive;">　5　</h4><p class="small mb-0">件</p>
              </div>
              <div class="mt-5 p-4 border">
                <ul class="pl-0">
                  <li style="list-style:none;">
                    <p class="small list_icon">サイト情報の新規追加　×２倍</p>
                  </li>
                  <li style="list-style:none;">
                    <p class="small list_icon">サイト情報の内容訂正　×１倍</p>
                  </li>
                  <li style="list-style:none;">
                    <p class="small list_icon">ランキング上位者に報酬特典</p>
                  </li>
                  <li style="list-style:none;">
                    <p class="small list_icon">漫画情報（全体）の更新回数　５０回まで（１日）</p>
                  </li>
                  <li style="list-style:none;">
                    <p class="small list_icon">漫画情報（同一）の更新回数　１回まで（１日）</p>
                  </li>
                </ul>
              </div>
          </div>
      <% end %>
    </div>
  
    <div style="box-shadow:10px 0px 10px 3px #EEE;">
      <div class="py-4" style="min-height: 53vh; margin-bottom:80px;">
        
          <div class="d-flex">
              <h4 class="mt-4 ml-5 mb-2"><b>新着</b></h4>
              <div class="mt-4 ml-auto mr-5 mb-3" style="box-shadow:4px 5px 7px #EEE;">
                <%= link_to sale_index_comics_path, class:"btn btn-sm btn-outline-dark px-3" do %>
                  全て見る <i class="bi bi-arrow-right-circle"></i>
                <% end %>
              </div>
          </div>
          
          <p class="mx-5 mb-5">~ 最新情報はこちらからチェック！！~</p>
          <div class="contents_box">
              <% @new_comics.each do |book| %>
                  <div class="contents mr-3">
                    <%= link_to top_comic_info_comics_path(isbn: book['isbn'], from_rws: true, can_not_create_record: false), class:"img_link" do %>
                      <%= image_tag book["largeImageUrl"], style:"width:150px; height:230px; background-size: cover; border:0.5px solid #00264D; box-shadow:8px 8px 20px #999;" %>
                    <% end %>
                    <p class="small mt-3">
                      <%= book["title"].truncate(13) %>
                    </p>
                  </div>
              <% end %>
          </div>
          
      </div>
    </div>
    
    
    <div style="box-shadow:10px 0px 10px 3px #EEE;">
      <div class="py-4" style="min-height: 53vh; margin-bottom:80px;">
        
          <div class="d-flex">
            <h4 class="mt-4 ml-5 mb-2"><b>User Select</b></h4>
            <div class="mt-4 ml-auto mr-5 mb-3" style="box-shadow:4px 5px 7px #EEE;">
              <%= link_to user_select_index_comics_path, class:"btn btn-sm btn-outline-dark px-3" do %>
                全て見る <i class="bi bi-arrow-right-circle"></i>
              <% end %>
            </div>
          </div>
          
          <p class="mx-5 mb-5">~ Comic Read now!の利用ユーザに人気の漫画を見てみよう！ ~</p>
          
          <div class="contents_box">
            <% @bookmark_comics.each do |book| %>
            <% comic = Comic.find_by(isbn: book["isbn"]) %>
              <div class="contents mr-3">
                  <%= link_to top_comic_info_comics_path(isbn: book['isbn'], from_rws: false, can_not_create_record: false), class:"img_link" do %>
                    <%= image_tag book.large_image_url, style:"width:150px; height:230px; background-size: cover; border:0.5px solid #00264D; box-shadow:8px 8px 20px #999;" %>
                  <% end %>
                  <p class="small mt-3">
                  <%= book.title.truncate(13) %>
                  </p>
                </div>
            <% end %>
          </div>
          
      </div>
    </div>
  
    <div style="box-shadow:10px 0px 10px 3px #EEE;">
      <div class="py-4" style="min-height: 53vh; margin-bottom:80px;">
        
          <div class="d-flex">
            <h4 class="mt-4 ml-5 mb-2"><b>総合ランキング</b></h4>
            <div class="mt-4 ml-auto mr-5 mb-3" style="box-shadow:4px 5px 7px #EEE;">
              <%= link_to review_count_index_comics_path, class:"btn btn-sm btn-outline-dark px-3" do %>
                全て見る <i class="bi bi-arrow-right-circle"></i>
              <% end %>
            </div>
          </div>
          
          <p class="mx-5 mb-5">~ 不動の人気漫画！！時代を超えて楽しめる漫画を読もう ~</p>
          
          <div class="contents_box">
            <% @review_comics.each do |book| %>
                <div class="contents mr-3">
                  <%= link_to top_comic_info_comics_path(isbn: book['isbn'], from_rws: true, can_not_create_record: false), class:"img_link" do %>
                    <%= image_tag book["largeImageUrl"], style:"width:150px; height:230px; background-size: cover; border:0.5px solid #00264D; box-shadow:8px 8px 20px #999;" %>
                  <% end %>
                  <p class="small mt-3">
                    <%= book["title"].truncate(13) %>
                  </p>
                </div>
            <% end %>
          </div>
          
      </div>
    </div>
    
    <div style="box-shadow:10px 0px 10px 3px #EEE;">
      <div class="py-4" style="min-height: 53vh; margin-bottom:80px;">
        
          <div class="d-flex">
            <h4 class="mt-4 ml-5 mb-2"><b>Next Coming</b></h4>
            <div class="mt-4 ml-auto mr-5 mb-3" style="box-shadow:4px 5px 7px #EEE;">
                <%= link_to next_coming_index_comics_path, class:"btn btn-sm btn-outline-dark px-3" do %>
                  全て見る <i class="bi bi-arrow-right-circle"></i>
                <% end %>
              </div>
          </div>
          
          <p class="mx-5 mb-5">~ 気になる漫画の新刊情報をチェック！ ~</p>
          
          <div class="contents_box">
            <% @next_comics.each do |book| %>
                <div class="contents mr-3">
                  <%= link_to top_comic_info_comics_path(isbn: book['isbn'], from_rws: true, can_not_create_record: true), class:"img_link" do %>
                    <%= image_tag book["largeImageUrl"], style:"width:150px; height:230px; background-size: cover; border:0.5px solid #00264D; box-shadow:8px 8px 20px #999;" %>
                  <% end %>
                  <p class="small mt-3">
                    <%= book["title"].truncate(13) %>
                  </p>
                </div>
            <% end %>
          </div>
          
      </div>
    </div>
  
    <span id="back">
      <a href=""  style="text-decoration:none;">
          <div class="d-flex justify-content-center border mt-5 mb-4 mx-auto" 
               style="width:95%; height:60px; line-height:60px; background-color:#FFF; box-shadow:5px 5px 5px #DDD;">
            <p class="mb-0 text-dark ">TOPへ戻る<i class="bi bi-arrow-up"></i></p>
          </div>
      </a>
    </span>
    
  </div>
</div>
