<div style="background-color:#EEE; height:100px;"></div>
  <div style="background-color:#EEE; padding:30px 0; min-height: 71vh;">
    <div class="col-lg-9 mx-auto p-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD;">
       
        <%= link_to root_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
          <i class="bi bi-arrow-left"></i>
        <% end %>
            
        <div class="d-flex flex-wrap"  style="padding:30px 20px; justify-content:center;">
            <%= image_tag @top_rb_comic_info["largeImageUrl"], class:"my-3 mx-5", style:"width:170px; height:250px; background-size: cover; border:0.5px solid #00264D; box-shadow:8px 8px 20px #999;" %>
         
            <div class="p-3">
                <h5><b><%= @top_rb_comic_info["title"] %>　</b><small>の詳細</small></h5>
                <div class="mt-3">
                  著者：　　<%= @top_rb_comic_info["author"] %>
                  <small>(<%= @top_rb_comic_info["authorKana"] %>)</small><br>
                  出版社：　<%= @top_rb_comic_info["publisherName"] %><br>
                  発売日：　<%= @top_rb_comic_info["salesDate"] %><br>
                </div>
                
                <hr>
                
                <div class="mt-4">
                    <% if @top_comic_info.present? %>
                        <% can_read = TotalReadableInfo.where(comic_id: @top_comic_info.id, can_read: true) %>
                        <% can_not_read = TotalReadableInfo.where(comic_id: @top_comic_info.id, can_read: false) %>
                        <% comic_update_limit_count = @top_comic_info.remaining_one_comic_update_limit %>
                        <% create_sites = @top_comic_info.sites.all %>
                        <% user = User.find(@top_comic_info.user_id) %>
                        
                        <div class="d-flex" style="align-items: center;">
                          <small class="border p-1 text-success">以下の漫画サイトで読むことができます！</small><br>
                          <% if user_signed_in? && can_not_read.count > 0 && comic_update_limit_count > 0 %>
                            <%= link_to "編集", edit_comic_path(@top_comic_info.id), class:"btn btn-sm rounded-pill mb-2 ml-auto px-3 text-nowrap", style:"background-color:#66CC00; color:white;" %>
                          <% end %>
                        </div>
                        
                        <% create_sites.each do |site| %>
                          <p class="pb-0 text-success d-inline-flex">
                            <i class="bi bi-check-lg"></i>
                          </p>
                          <%= site.name %>　
                        <% end %><br>
                        
                        <small>
                          <%= @top_comic_info.created_at.strftime('%Y年%m月%d日%H時%M分') %>　
                          <b><%= @top_comic_info.user.nick_name %></b> さんがサイト情報更新
                        </small>
                    <% end %>
                    
                    <!--ログイン後の表示内容-->
                    <% if user_signed_in? && @top_comic_info.present?%>
                    <% comic_update_limit_count = @top_comic_info.remaining_one_comic_update_limit %>
                    <% user_read_judgement = TotalReadableInfo.find_by(comic_id: @top_comic_info.id, user_id: current_user.id) %>
                    <% can_read = TotalReadableInfo.where(comic_id: @top_comic_info.id, can_read: true) %>
                    <% can_not_read = TotalReadableInfo.where(comic_id: @top_comic_info.id, can_read: false) %>
                        
                    <hr>
                        <!--可読判定に対するメッセージ-->
                        <% if user_read_judgement.present? && user_read_judgement = true %>
                          <small><b><%= current_user.nick_name %></b> さんは「読めた」を選択中...</small>
                        <% elsif user_read_judgement.present? && user_read_judgement = false %>
                          <small><b><%= current_user.nick_name %></b> さんは「読めなかった」を選択中...</small>
                        <% else %>
                          <p class="small mb-2">上記にある漫画サイトで読めましたか？<br>以下のボタンを押してください</p>
                        <% end %>
                        
                        <div class="d-flex" style="align-items: center;">
                              <!--可読情報が未追加-->
                              <% if user_read_judgement.nil? %>
                                    <%= form_with url: comic_read_judgement_path(@top_comic_info.id), id:"comic_read_judgement" do |f| %>
                                      <div class="d-flex">
                                        <%= f.radio_button :read_info, true, style:"display:none;", onchange:"radio_func()" %>
                                        <%= f.label :read_info, "読めた", for:"read_info_true", class:"mb-0 px-2 py-1 text-nowrap read_judgement can_read_radio" %>　
                                        <%= f.radio_button :read_info, false, style:"display:none;", onchange:"radio_func()" %>
                                        <%= f.label :read_info, "読めなかった", for:"read_info_false", class:"mb-0 px-2 py-1 text-nowrap read_judgement can_not_read_radio" %>　
                                      </div>
                                    <% end %>
                                    
                              <!--current_userが可読情報を追加済み-->
                              <% else %>
                                    <p class="mr-2 mb-0 px-2 py-1 text-nowrap read_judgement can_read_radio">読めた</p>
                                    <p class="mb-0">
                                      <%= can_read.count %>人
                                      </p>
                                    <p class="mr-2 ml-3 mb-0 px-2 py-1 text-nowrap read_judgement can_not_read_radio">読めなかった</p>
                                    <p class="mb-0">
                                      <%= can_not_read.count %>人
                                    </p>
                              <% end %>
                              
                              <!--ブックマーク-->
                              <% has_bookmark = Bookmark.find_by(comic_id: @top_comic_info.id, user_id: current_user.id) %>
                              <% if has_bookmark.present? %>
                                  <%= link_to comic_destroy_bookmark_path(@top_comic_info.id), class:"btn p-0" do %>
                                    <div class="d-inline-flex ml-5">
                                      <h3><i class="bi bi-bookmark-check-fill"></i></h3>
                                      <small class="p-1" style="vertical-align:middle;">追加済み</small>
                                    </div>
                                  <% end %>
                              <% else %>
                                  <%= link_to comic_bookmark_path(@top_comic_info.id), class:"btn p-0" do %>
                                    <div class="d-inline-flex ml-5">
                                      <h3><i class="bi bi-bookmark-plus"></i></h3>
                                      <small class="p-1" style="vertical-align:middle;">追加</small>
                                    </div>
                                  <% end %>
                              <% end %>
                          </div>
                    <% elsif user_signed_in? && @top_comic_info.nil? %>
                        <%= link_to new_comic_path(isbn: @top_comic_info['isbn']), class:'btn btn-outline-dark w-100' do %>
                          <i class="bi bi-pencil-square"></i><small>　サイト情報追加</small>
                        <% end %>
                    <% end %>
                </div><br>
                
                <!--確認用。あとで消す-->
                <% if user_signed_in? && @top_comic_info.present? %>
                <% user_read_judgement = TotalReadableInfo.find_by(comic_id: @top_comic_info.id, user_id: current_user.id) %>
                  version : <%= @top_comic_info.version %><br>
                  user_read_judgement: <%= user_read_judgement %><br>
                  更新残数 : <%= @top_comic_info.remaining_one_comic_update_limit %>回
                  <small>(for <%= @top_comic_info.title %>)</small>
                <% end %>
                
            </div>
        </div>
        
    </div>
  </div>
</div>

<script>
  function radio_func() {
    alert('可読判定の情報は間違いありませんか？意図的に誤った内容を送信することは禁止されています。');
    var form =document.getElementById('comic_read_judgement');
    form.submit();
  }
</script>