<div style="background-color:#EEE; height:100px;"></div>
  <div style="background-color:#EEE; padding:30px 0; min-height: 71vh;">
    
    <div class="col-lg-6 mx-auto p-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD;">
        <%= link_to root_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
          <i class="bi bi-arrow-left"></i>
        <% end %>
            
        <div class="d-flex flex-wrap"  style="padding:30px 20px; justify-content:center;">
            <%= image_tag @top_comic_info['largeImageUrl'], class:"m-3", style:"width:170px; height:250px; background-size: cover; border:0.5px solid #00264D; box-shadow:8px 8px 20px #999;" %>
            <!--.split('?')[0]をつけることで、元の画像サイズで表示できる-->
            <div class="p-3">
                <h5><b><%= @top_comic_info["title"] %></b></h5>
                <div class="mt-3">
                  <%= @top_comic_info["author"] %>
                  <small>(<%= @top_comic_info["authorKana"] %>)</small><br>
                  <div class="mt-2">
                      <small>出版会社：　　<%= @top_comic_info["publisherName"] %></small><br>
                      <small>発売日：　　　<%= @top_comic_info["salesDate"] %></small><br>
                      <small>書籍コード：　<%= @top_comic_info["isbn"] %></small>
                  </div>
                </div>
                <%= link_to root_path, class:'btn btn-outline-dark mt-4', style:"width:200px;" do %>
                  <i class="bi bi-pencil-square"></i><small>　サイト情報追加</small>
                <% end %>
            </div>
        </div>
    </div>
    
  </div>
</div>