<div style="background-color:#EEE; padding:205px 0 30px; min-height: 74vh;">
    <div class="col-lg-9 mx-auto p-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD;">
         
         
        <!--前の画面に遷移するボタン-->
        <% if session["url"] %>
            <%= link_to session["url"], class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
              <i class="bi bi-arrow-left"></i>
            <% end %>
        <% else %>
          <%= link_to root_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
            <i class="bi bi-arrow-left"></i>
          <% end %>
        <% end %>
            
            
            
        <!--漫画情報詳細-->
        <div class="d-flex flex-wrap"  style="padding:0 20px; justify-content:center;">
            
            <!--書籍情報-->
            <% if !@top_rb_comic_info.blank? %>
                <%= image_tag @top_rb_comic_info["largeImageUrl"], class:"img_comic my-3 mx-5" %>
            <% else %>
                <%= image_tag @top_comic_info.large_image_url, class:"img_comic my-3 mx-5" %>
            <% end %>
            
            <div class="p-3">
                <% if @from_rws == "true" %>
                  <h5><b><%= @top_rb_comic_info["title"] %>　</b><small>の詳細</small></h5>
                  <div class="mt-3">
                    著者：　　<%= @top_rb_comic_info["author"] %>
                    <small>(<%= @top_rb_comic_info["authorKana"] %>)</small><br>
                    出版社：　<%= @top_rb_comic_info["publisherName"] %><br>
                    発売日：　<%= @top_rb_comic_info["salesDate"] %><br>
                  </div>
                <% else %>  
                  <h5><b><%= @top_comic_info.title %>　</b><small>の詳細</small></h5>
                  <div class="mt-3">
                    著者：　　<%= @top_comic_info.author %>
                    <small>(<%= @top_comic_info.author_kana %>)</small><br>
                    出版社：　<%= @top_comic_info.publisher_name %><br>
                    <% if !@top_rb_comic_info.blank? %>
                    発売日：　<%= @top_rb_comic_info["salesDate"] %>
                    <% else %>
                    発売日：　-- none --
                    <% end %>
                  </div>
                <% end %>
                
                
                <!--<div>-->
                    
                    <% if @top_comic_info.present? %>
                    <% comic_update_limit_count = @top_comic_info.remaining_one_comic_update_limit %>
                    <% can_not_read = ReadJudgement.where(comic_id: @top_comic_info.id, can_read: false) %>
                    <% sites = @top_comic_info.sites.all %>
                    <% can_read = ReadJudgement.where(comic_id: @top_comic_info.id, can_read: true, version: @top_comic_info.version) %>
                    <% can_not_read = ReadJudgement.where(comic_id: @top_comic_info.id, can_read: false, version: @top_comic_info.version) %>
                    
                    <hr>
                    
                        <small class="border mb-2 mr-4 p-1 text-nowrap text-success">以下の漫画サイトで読むことができます！</small><br>
                        
                        
                        <!--漫画サイト情報の編集-->
                        <% if user_signed_in? && can_not_read.count > 0 && comic_update_limit_count > 0 %>
                            <div class= "contents_action_box">
                              <input type="button" class="btn btn-sm rounded-pill mb-2 px-3 text-nowrap" style="background-color:#66CC00; color:white;" value="編集">
                            </div>
                            
                            <div class= "contents_action mb-3 border">
                                <div class="contents_action_slide">
                                  
                                    <div class="p-3">
                                        <%= flash[:alert] %>
                                        <p><b>' <%= @top_comic_info.title %> '</b><small>の編集...</small></p>
                                        <small style="color:red;">※ 読むことができるサイトを以下の中から全て選択してください</small>
                                        
                                        <div class="mt-2">
                                            <%= form_with model: @top_comic_info, url: comic_path(@top_comic_info.id), method: :patch do |f| %>
                                                <%= f.hidden_field :isbn, value: params[:isbn] %>
                                                <% Site.all.each do |site| %>
                                                    <%= f.check_box :site_ids,{ multiple: true, checked: site[:checked],disabled: site[:disabled], include_hidden: false }, site[:id] %>
                                                    <%= f.label site.name, for:"comic_site_ids_#{site[:id]}" %>　
                                                <% end %><br>
                                                <%= f.submit "漫画情報を変更", class:"btn btn-sm btn-outline-dark rounded-pill mt-3 px-3 w-100" %>
                                            <% end %>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                            <script src="index.js"></script>
                        <% end %>
                        
                        
                        <!--更新されたサイト情報の表示-->
                        <% sites.each do |site| %>
                          <p class="mt-3 mb-0 pb-0 text-success d-inline-flex">
                            <i class="bi bi-check-lg"></i>
                          </p>
                          <%= site.name %>　
                        <% end %><br>
                        
                        
                        <!--更新のステータス-->
                        <% if user_signed_in? %>
                          <small>
                            <%= @top_comic_info.updated_at.strftime('%Y年%m月%d日%H時%M分') %>　
                            <b><%= @top_comic_info.user.nick_name %></b> さんがサイト情報更新済み 
                            (ver.<%= @top_comic_info.version %>)<br>
                            <% if @top_comic_info.remaining_one_comic_update_limit < 1 %>
                              今日の更新はこれ以上できません。
                            <% else %>
                              この漫画の更新残数は <%= @top_comic_info.remaining_one_comic_update_limit %> 回です。
                            <% end %>
                          </small>
                        <% end %>
                        
                        
                        <hr>
                        <p>
                          <b>ゲスト</b> さんは ブックマークできません。<br>
                          <small>
                            ※ ブックマークするには
                            <%= link_to "ログイン", new_user_session_path %>
                            をしてください。
                          </small>
                        </p>
                        
                        
                      
                    <% elsif user_signed_in? && @top_comic_info.present? %>
                    <% user_read_judgement = ReadJudgement.find_by(comic_id: @top_comic_info.id, user_id: current_user.id, version: @top_comic_info.version) %>
                    <hr>
                        
                        
                        <!--可読判定に対するメッセージ-->
                        <div class="mb-2">
                            <% if user_read_judgement.present? && user_read_judgement.can_read == true %>
                              <small><b><%= current_user.nick_name %></b> さんは「読めた」を選択中...</small>
                            <% elsif user_read_judgement.present? && user_read_judgement.can_read == false %>
                              <small><b><%= current_user.nick_name %></b> さんは「読めなかった」を選択中...</small>
                            <% else %>
                              <p class="small mb-2">上記にある漫画サイトで読めましたか？<br>以下のボタンを押してください</p>
                            <% end %>
                        </div>
                    
                      
                      
                        <!--可読判定-->
                        <div class="d-flex" style="align-items: center;">
                          <!--可読情報が未追加-->
                          <div id="read_judgements_buttons_<%= @top_comic_info.id %>">
                            <%= render partial: '/public/comics/read_judgement', locals: {comic: @top_comic_info, user_read_judgement: user_read_judgement, can_read: can_read, can_not_read: can_not_read} %>
                          </div>
                        </div>
                        
                        
                        <hr>
                        
                        
                        <!--ブックマーク-->
                        <div class="d-flex flex-wrap">
                            <div class="ml-auto">
                              <div id="bookmarks_buttons_<%= @top_comic_info.id %>">
                                <%= render partial: '/public/bookmarks/bookmarks', locals: {comic: @top_comic_info} %>
                              </div>
                            </div>
                        </div>
                        
                    
                    <!--サイト情報の追加-->
                    <% elsif user_signed_in? && @can_not_create_record == "false" && @top_comic_info.nil? %>
                        <div class= "contents_action_box mb-2">
                            <input type="button" class="btn btn-sm btn-outline-dark mb-2 px-3 text-nowrap w-100" style="" value="サイト情報追加">
                        </div>
                        
                        <div class= "contents_action mb-3 border">
                            <div class="contents_action_slide">
                                <div class="p-3">
                                  
                                  
                                    <p><b>' <%= @top_rb_comic_info["title"] %> '</b><small>の情報を追加中...</small></p>
                                    <small style="color:red;">※ 読むことができるサイトを以下の中から全て選択してください</small>
                                    
                                    <div class="mt-4">
                                        <%= form_with model: @comic, url: comics_path, method: :post do |f| %>
                                            <%= f.hidden_field :isbn, value: params[:isbn] %>
                                            <% Site.all.each do |site| %>
                                                <%= f.check_box :site_ids,{ multiple: true, checked: site[:checked],disabled: site[:disabled] , include_hidden: false }, site[:id] %>
                                                <%= f.label site.name, for:"comic_site_ids_#{site[:id]}" %>　
                                            <% end %><br>
                                            <%= f.submit "漫画情報追加", class:"btn rounded-pill mt-3 w-100", style:"background-color:#66CC00; color:white;" %>
                                        <% end %>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <script src="index.js"></script>
                      
                    <% elsif user_signed_in? && @can_not_create_record == "true" %>
                        <p>サイト情報の追加は発売日以降に可能になります。</p>
                        
                    <% elsif !user_signed_in? && @can_not_create_record == "false" && @top_comic_info.nil? %>
                            <hr>
                            <p>
                              漫画サイト情報が追加されていません。<br>
                              <small>
                                ※ 追加するには
                                <%= link_to "ログイン", new_user_session_path %>
                                をしてください。
                              </small>
                            </p>
                    <% end %>
                  
                <!--</div><br>-->
                
            </div>
        
        </div>
          
    </div>
</div>

<script>
  function radio_func() {
    if(window.confirm('情報は間違いありませんか？意図的に誤った内容を送信することは禁止されています。')) {
      var submit = document.getElementById('read_judgements_submit')
      submit.click()
    }else {
      return
    }
  }
  
  $(function(){
    //ボタンのイベント
    $(".btn").click(function(){
      // contents-newクラスをスライドアップ/ダウンさせる
      $(".contents_action").slideToggle();
    });
  });
</script>