<div class="pb-4" style="padding-top:205px; background-color:#FFF;">
  <div class="col-10 mt-5 mx-auto">
    <%= link_to root_path, class:"btn btn-sm ml-4 mb-4 px-3 border", style:"color:#00264D;" do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
    <h5 class="mb-5 text-center"><b>User Select 一覧</b></h5>
    <div class="view_div">
      <div class="col-lg-11 view_each_div">
        <% @user_selects.each do |user_select| %>
        <% comic = Comic.find_by(isbn: user_select["isbn"]) %>
          <div class="mx-2">
            <div style="width:150px;">
              <%= link_to comic_path(comic.id), class:"img_link" do %>
                <%= image_tag user_select.large_image_url, class:"img_comic" %>
              <% end %>
            </div>
            <div class="py-4 mb-3" style="width:150px; height:auto;">
              <%= link_to comic_path(comic.id) do %>
                <p class="mb-1 link_text text-dark" style="height:50px;">
                  <%= user_select.title.truncate(17) %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    
  <div class="media_pc">
    <div class="d-flex flex-wrap" style="justify-content:center;">
      <%= paginate @user_selects, window: 4 %>
    </div>
  </div>
  <div class="media_tb">
    <div class="d-flex flex-wrap" style="justify-content:center;">
      <%= paginate @user_selects, window: 2 %>
    </div>
  </div>
  <div class="media_sp">
    <div class="d-flex flex-wrap" style="justify-content:center;">
      <%= paginate @user_selects, window: 1 %>
    </div>
  </div>
  
  <span id="back" style="width:100%;">
    <a href=""  style="text-decoration:none;">
      <div class="d-flex justify-content-center border mt-5 mx-auto" 
           style="width:95%; height:60px; line-height:60px; background-color:#FFF; box-shadow:5px 5px 5px #DDD;">
        <p class="mb-0 text-dark">TOPへ戻る<i class="bi bi-arrow-up"></i></p>
      </div>
    </a>
  </span>
</div>
