<div style="background-color:#EEE; padding:215px 0 30px; min-height: 71vh;">
  <div class="col-lg-6 mx-auto p-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD;">
    <%= link_to my_page_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
    <p class="m-3"><b>ユーザ情報を編集中...</small></p>
    <% if current_user.errors.any? %>
      <div id="error_explanation" class="mx-auto">
        <p class="small mb-2">
          <b>
            <%= current_user.errors.count %>件のエラーが発生しました：
          </b>
        </p>
        <ul class="small">
          <% current_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with url: update_information_path, model: current_user do |f| %>
      <table class="table table-responsive-sm table-borderless">
        <tr>
          <td style="overflow-wrap: break-word;">
            <small>アイコン画像：</small><br>
            <% if current_user.profile_image.attached? %>
              <div class="border mt-2 p-3" style="width:140px;">
                <p class="d-flex justify-content-center small mb-2">現在の画像</p>
                <div class="d-flex justify-content-center">
                  <%= image_tag current_user.profile_image, size: "80x80", class:"", style:"object-fit:cover; border-radius: 45px; border: 2px solid #00264D; object-fit: cover;", id:"imgPreview" %>
                </div>
              </div>
            <% else %>
              <div class="border mt-2 p-3" style="width:140px">
                <p class="d-flex justify-content-center small mb-2">現在の画像</p>
                <div class="d-flex justify-content-center">
                  <%= image_tag asset_path("no_image.png"), size: "80x80", class:"", style:"object-fit:cover; border-radius: 45px; border: 2px solid #00264D; object-fit: cover;", id:"imgPreview" %>
                </div>
              </div>
            <% end %>
            <%= f.file_field :profile_image, accept: "image/*", class:"uploader mt-2" %>
          </td>
        </tr>
        <tr>
          <td>
            <small>ニックネーム：</small><br>
            <div class="d-flex flex-wrap mb-2">
              <small class="mr-3 text-success"><i class="bi bi-check2-circle"></i> 英数字 [半角]</small>
              <small class="mr-3 text-success"><i class="bi bi-check2-circle"></i> 12文字以内</small>
              <small class="mr-3 text-success"><i class="bi bi-check2-circle"></i>  _.-!?@'%<> [記号]</small>
            </div>
            <%= f.text_field :nick_name, autofocus: true, id:"inputName", placeholder:"ニックネーム", class:"form-control mt-2" %>
          </td>
        </tr>
        <tr>
          <td>
            <small>メールアドレス：</small><br>
            <%= f.text_field :email, autofocus: true, id:"inputName", placeholder:"sample@gmail.com", class:"form-control mt-2" %>
          </td>
        </tr>
      </table>
      <div class="d-flex justify-content-center">
      <%= f.submit "変更を保存", class:"btn rounded-pill mt-3 px-4 border", style:"background-color:#66CC00; color:white;" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  window.addEventListener('load', () => {
  const imgPreview = document.querySelector('#imgPreview');
  if (imgPreview) {
    // f.file_fieldを指定する(uploader)に代入
    const uploader = document.querySelector('.uploader');
    // f.file_fieldが変わったら
    uploader.addEventListener('change', (e) => {
      // 新しく以下の2行を宣言する
      const file = uploader.files[0];
      // jsが元々持っているクラス.. FileReaderを新規作成
      const reader = new FileReader();
      // jsのメゾット...readAsDataURLが画像を読み込む作業を行う
      reader.readAsDataURL(file);
      // onload... 読み込みが完了した時
      reader.onload = () => {
        // jsメゾット... resultが読み込んだ画像の結果を示す
        const image = reader.result;
        // src（ソース）オプション（要素）を変更する
        imgPreview.setAttribute('src', image);
      }
    });
  }
});
</script>