<div class="container" style="margin-top:100px;">
  <div class="row" style="padding-top:30px;">

      <div class="col-5">
        <h5 class="ml-2 mb-3"><b>ユーザ情報の編集</b></h5>

          <%= form_with url: information_path, model: current_user do |f| %>
            <table class="table table-borderless">
              <tr>
                  <td>
                    <label for="inputImage">ProfileImage</label>
                  </td>
                  <td>
                    <!--<#%= f.label :profile_image, "ファイルを選択", class:"image_input_btn" do %>-->
                    <%= f.file_field :profile_image, accept: "image/*" %>
                    <!--<#% end %>-->
                  </td>
              </tr>
              <tr>
                  <td>
                    <label for="inputName">Name</label>
                  </td>
                  <td>
                    <%= f.text_field :nick_name, autofocus: true, id:"inputName", placeholder:"ニックネーム", class:"form-control" %>
                  </td>
              </tr>
              <tr>
                  <td>
                    <label for="inputName">e-mail</label>
                  </td>
                  <td>
                    <%= f.text_field :email, autofocus: true, id:"inputName", placeholder:"sample@gmail.com", class:"form-control" %>
                  </td>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "変更を保存", class:"btn rounded-pill mt-3 px-4 border", style:"background-color:#66CC00; color:white;" %></td>
              </tr>
            </table>
          <% end %>

      </div>

  </div>
</div>