<div class="container" style="margin-top:100px;">
  
  <div class="row mx-auto pb-4 d-flex justify-content-center" style="padding-top:30px;">
      <div class="col-lg-4 p-0" style="border:1px solid #00264D; background-color:#00264D; border-top-left-radius: 20px; box-shadow:0px 5px 7px #BBB;">
        <h5 class="mb-auto p-4" style="color:#FFFFCC;">
          <b>My Ranking</b>
        </h5>
        <p class="px-4" style="color:#FFFFCC;">
          順位を表示<br>ユーザの評価も表示する<br>レイアウト調整する
        </p>
        <div class="m-1 d-flex justify-content-center align-items-center" style="height:80px; background-color:#66CC00;">
          <p class="text-light small mb-0">
            <strong>ランクを上げるには？</strong>
          </p>
        </div>
      </div>
      
      <div class="col-lg-6 p-5" style="border:1px solid #00264D; border-bottom-right-radius: 20px; box-shadow:4px 5px 7px #CCC;">
          <div class="mx-3 user_icon" style="float:left;">
            <% if current_user.profile_image.attached? %>
              <%= image_tag current_user.profile_image, size: "80x80" %>
            <% else %>
              <%= image_tag 'no_image', size: "80x80" %>
            <% end %>
          </div>
          <div class="p-3 user_nickname" style="float:left; margin-top:10px;">
            <h4 class="mb-0">
              <%= current_user.nick_name %>
            </h4>
          </div>
          <p class="p-3 user_email small" style="float:right; margin-top:15px; border-top:0.5px solid silver; border-bottom:0.5px solid silver;">
            <%= current_user.email %>
          </p>
          <%= link_to 'ユーザ情報の編集', edit_information_path, class:"btn btn-dark rounded-pill mt-4 mb-0 w-100" %>
      </div>
  </div>
  
  <div class="row mx-auto d-flex justify-content-center">
    <div class="col-lg-10 mt-3 mx-auto p-0">

      <h5 class="mb-0 mr-3 p-1" style="float: left;">
        <strong>お気に入りの漫画</strong>
      </h5>
      <p class="mb-0 mr-3 p-1" style="float: left;">全○件</p>
      <%= link_to bookmark_path, class:"btn btn-sm btn-dark px-3" do %>
        全て見る <i class="bi bi-arrow-right-circle"></i>
      <% end %>

    </div>
  </div>

  <div class="row mx-auto d-flex justify-content-center">
    <%= link_to 'Premiumプランに移行', root_path, class:"btn my-5 px-5", style:"width:400px; border:2px solid #00264D; background-color:#FF8000; color:white; box-shadow:4px 5px 7px #CCC;" %>
  </div>
</div>