  <div class="" style="background-color:#EEE; padding:205px 20px 40px; min-height: 74vh;">
    
    <div class="col-lg-7 mx-auto p-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD;">
      <%= link_to root_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>
        <i class="bi bi-arrow-left"></i>
      <% end %>
      
      <h4 class="mt-4 ml-4 mb-5" style="font-family: 'Bruno Ace', cursive; text-shadow: 4px 4px 4px #aaa;"><b>User<br>Ranking</b></h4>
      
      <table class="table table-responsive-sm user_rank_index_table" style="margin-bottom:70px;">
        <tr style="text-align: center;">
          <th class="small">順位</th>
          <th></th>
          <th class="small" style="vertical-align: middle;">アイコン</th>
          <th class="small" style="vertical-align: middle;">ユーザ名</th>
          <th class="small">更新</th>
          <th class="small">評価</th>
        </tr>
        
        <% default = 1 %>
        <% @users.each do |user| %>
            <tr style="text-align: center;">
              <td style="vertical-align: middle; font-family: 'Dela Gothic One', cursive;"><%= default %></td>
              <td></td>
              <td>
                <div class="user_icon">
                  <% if user.profile_image.attached? %>
                    <%= image_tag user.profile_image, size: "60x60" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "60x60" %>
                  <% end %>
                </div>
              </td>
              <td style="vertical-align: middle; font-family: 'Bruno Ace', cursive; overflow-wrap: break-word;">
                <%= user.nick_name %>
              </td>
              <td style="vertical-align: middle;">
                <%= user.update_count %>回
              </td>
              <td style="vertical-align: middle;">
                <%= user.read_judgements.where(can_read: true).count %>件
              </td>
            </tr>
            <% default += 1 %>
        <% end %>
      </table>
      
      <span id="back" style="width:100%; display:none;">
        <a href=""  style="text-decoration:none;">
            <div class="d-flex justify-content-center border w-100" 
                 style="width:95%; height:55px; line-height:55px; background-color:#FFF; box-shadow:5px 5px 5px #DDD;">
              <p class="mb-0 text-dark">TOPへ戻る<i class="bi bi-arrow-up"></i></p>
            </div>
        </a>
      </span>
      
    </div>
    
  </div>
</div>

<script>
  $(function(){
    // ウィンドウの高さとmain要素の高さを取得
    var windowHeight = $(window).height();
    var mainHeight = $('main').height();

    // main要素の高さがウィンドウの高さより大きい場合
    if(mainHeight > windowHeight) {
        // 特定の要素を表示
        $('#back').show();
    } else {
        // そうでない場合、要素を非表示
        $('#back').hide();
    }
  })
</script>